@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-en: var(--font-rethink-sans);
  --font-ru: var(--font-manrope);
  --color-hero-1: #FA9819;
  --color-hero-2: #48749E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Скрываем скролл для всего body */
}

/* Скрываем скролл для всех элементов */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* WebKit */
}

/* Плавные переходы для всех элементов */
* {
  transition: all 0.3s ease;
}